@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-color: darkslategray;
}

.square{
    height: 10rem;
    border: solid white;
    border-width: 0.1rem;
    background-color: darkslategray;
    color: white;
    font-size: 7rem;
    margin: auto;
    padding:0;
}
.container{
    margin-top: 2rem;
    width: 30rem;
}
.value{
    width: 100%;
    height: 100%;
}
